@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');



/*----------------------------------------navigation*/

.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
    font-size: 0; 
}

#nav{
    margin: 0;
}

#nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem{
    height: 80px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    height: 80px;
}

.menuitem a i{
    font-size: 20px;
    padding-top: 20px;
    display: block;
    color: whitesmoke;
}

.menuitem span{
    display: block;
    color: whitesmoke;
    font-size: 16px;
    font-family: "Bangers",sans-serif;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    letter-spacing: 2px;
}



/*----------------------------------------texts,margins,paddings*/

h1,
h2,
h3,
h4{
    margin: 0;
    font-family: "Bangers",sans-serif;
    text-align: center;
    
}

p{
    font-family: "Exo",sans-serif;
    font-weight: 400;
    text-align: left;
    
    
}

.general-sub{
    font-family: "Bangers",sans-serif;
    color: whitesmoke;
}


/*----------------------------------------colors*/


.ui-menu-color-home{
    background-color: #17a2b8;
}

.ui-menu-color-heroes{
    background-color: rgb(199, 5, 5);
}


.ui-menu-color-reading{
    background-color:black;
}

.ui-menu-color-contact{
    background-color:rgb(86, 1, 94);
}

.bg-color-title{
    background-color: black;
    height: 100%;
}

.logo-title{
    color: whitesmoke;
}

.logo-summary{
    color: whitesmoke;
    padding-left: 20px;
}



/*----------------------------------------Home page logos*/

.logo{
    background: url("../images/stanlee.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 300px;
    width: 100%;
}

.blackpanther{
    text-align: center;
    padding-top: px;
}

.storm{
    text-align: center;
    padding-top: 22px;
}

.spiderman{
    text-align: center;
    padding-top: 89px;
}

/*----------------------------------------hover.css*/

.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.2);
    height: 80px;
    
}

/*----------------------------------------footer*/

footer{
    background-color:black;
    padding-top: 8px;
    padding-bottom: 10px;
    min-height: 80px;

}

a {
    color: red;
    text-decoration: none;
    background-color: transparent;
}

    
.sociallinks li a i{
    padding: 10px,0;
}


/*----------------------------------------hero pictures*/

.blackpanther-1{
    text-align: center;
}

.spiderman-1{
    text-align: center;
}

.falcon-1{
    text-align: center;
}

.storm-1{
    text-align: center;
}

.magneto-1{
    text-align: center;
}

.humantorch-1{
    text-align: center;
}

.ironman-1{
    text-align: center;
}

.warmachine-1{
    text-align: center;
}

.iceman-1{
    text-align: center;
}

.doctorstrange-1{
    text-align: center;
}

.spidey-img{
    padding-top: 20px;
}
/*----------------------------------------hero-sum paddings*/
.blackpanther-sum {
    padding-left: 20px;
}

.spidey-sum {
    padding-left: 20px;
    padding-top: 38px;
}

.falcon-sum{
    padding-left: 20px;
}

.storm-sum {
    padding-top: 10px;
    padding-left: 20px;
}

.magneto-sum {
    padding-top: 34px;
    padding-left:20px;
}

.humantorch-sum {
    padding-left: 20px;
}

.warmachine-sum {
    padding-left: 20px;
    padding-top: 20px;
}

.ironman-sum{
    padding-left: 20px;
}

.doctorstrange-sum{
    padding-left: 20px;
}

.iceman-sum{
    padding-left: 20px; 
}


/*----------------------------------------Readings*/

.blackpanther-2{
    text-align: center;
}

.falcon-2{
    text-align: center;
}

.warmachine-2{
    text-align: center;
}

.ironman-2{
    text-align: center;
    padding-top: 15px;
}

.spiderman-2{
    text-align: center;
    padding-top: 15px;
}

.storm-2{
    text-align: center;
    padding-top: 15px;
}

.doctorstrange-2{
    text-align: center;
    padding-top: 15px;
}

.fantasticfour-2{
    text-align: center;
    padding-top: 15px;
}

.magneto-2{
    text-align: center;
    padding: 15px;
}

/*----------------------------------------Contact*/

.comic-contact{

}

.contact{
    margin-top: 60px;
    margin-bottom: 40px;

}

.submit-btn{

    margin-top: 25px;
    margin-bottom: 45px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    padding-bottom: 70px;
}